header { 
    color: lightgray; 
}

* {box-sizing: border-box;
}


body { 
    background: rgb(160, 103, 112); 
}


.square { 
    text-align: center;
    box-sizing:border-box; 
    height: 250px; 
    width: 250px; 
    border-radius: 15px;
    border: dotted;
    margin: 10px; 
    padding: 10px; 
    color: lightsalmon; 
    margin: 0 auto; 
    transition: all .2s ease-in-out; 
}

.square:hover{
    width: 400px;
    height: 400px;
    cursor: pointer;
}
#cool-square { 
    background: red;
}

#fancy-square { 
    text-align: center;
    padding: 1em;
    border: 0.5em: solid black;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    box-sizing:border-box; 
    margin: 0 auto; 
    padding: 10px;
    transition: all .2s 
    transition: color: green;

}

#uncool-square {
    background: blue; 
}


div { 
    margin: 100px; 
}

h2 {
    color: pink;
    font size: 40px; 
    font-style: italic; 
}

p { 
    color: lightblue; 
}

li {
    list-style-type: circle;
}

#special {
    color: lightgreen
    font-style: big 
}

.cool {
    color:lightsalmon;
}

ul { 
    color: white;
}
